<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	    http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd">

<display-name>Archetype Created Web Application</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  <!--context-param整个项目的全局变量，相当于设定了一个固定值-->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!--ContextLoaderListener监听器实现了ServletContextListener接口，其作用是启动web容器时自动装配ApplicationContextde配置信息-->
  <!--在web.xml配置这个监听器，启动容器时，就会默认执行它实现的方法-->
</web-app>
